<h1> <%= @job.title %> </h1>

<h3><%= @job.description %></h3>

<% if @job.pending %>
  <p>Someone has already claimed this job; it's currently pending.</p>
<% else %>
<p id="show_job_not_claimed">No one has claimed this job!</p>
<%= link_to "click here to claim it now", job_path(@job), remote: true, id: "claim_job_link", :method => "patch" %>
<% end %>
