$('#claim_job_link').hide().after('<%= link_to "Back to Jobs", jobs_path %>');
$('#show_job_not_claimed').hide().after("<p>Someone has already claimed this job; it's currently pending. [Hi Franz. JS is working!]</p>");
